:root {
  --vp-c-brand-1: #c12233;
  --vp-c-brand-2: #d92639;
  --vp-c-brand-3: #dd3c4d;
}

.dark {
  --vp-c-brand-1: #dd3e4f;
  --vp-c-brand-2: #dd3c4d;
  --vp-c-brand-3: #d92639;
  --vp-c-gutter: var(--vp-c-divider);
}

.dark img {
  filter: grayscale(1) invert(1);
}

.vp-doc a {
  text-decoration: inherit;
}

.vp-doc a:hover {
  text-decoration: underline;
}

.team-image {
  padding: 16px 24px;
  display: flex;
  justify-content: center;
}

.team-image .custom-block {
  padding: 16px 0;
  max-width: 1152px;
}

@media only screen and (max-width: 629px) {
  .image {
    display: none;
  }
  .index-team-image-horizontal {
    display: none;
  }
}

@media (min-width: 630px) {
  .team-image {
    padding: 16px 48px;
  }
  .index-team-image-vertical {
    display: none;
  }
}

@media (min-width: 960px) {
  .team-image {
    padding: 16px 64px;
  }
}

.index-team-image-horizontal {
  border-radius: 1%;
}

.dark .index-team-image-horizontal {
  filter: none
}

.index-team-image-vertical {
  border-radius: 1%;
}

.dark .index-team-image-vertical {
  filter: none
}

.container-map {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.map {
  flex: 1;
  margin: 0 20px;
}

@media (min-width: 769px) {
  .text-map {
    max-width: 50%;
  }
  .map {
    max-width: 50%;
  }
}

@media (max-width: 768px) {
  .container-map {
    flex-direction: column;
  }

  .map {
    margin: 20px 0;
  }
}

.post-picture {
  margin: 20px 0;
  border-radius: 1%;
}

.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
}
.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}